.page {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

.image {
    width: 700px;
    height: 500px;
}


@media screen and (max-width: 1024px) {
    .hero{
        margin-top: 50px;
        flex-direction: column-reverse;
    }

    .image {
        width: 100%;
        height: 100%;
    }
}