.app {
    /*position: absolute;*/
    width: 250px;
    /*height: 72vh;*/
    background: black;
    /*transform: translateX(-100%);*/
    /*z-index: 2;*/
    border-radius: 5px;
    padding: 10px;
}
.app h1{
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.app p{
    margin-bottom: 20px;
    margin-top: 20px;
}

.select {
    width: 100%;
    background: inherit;
    color: white;
    padding: 10px;
    font-family: inherit;
    border-radius: 3px;
    outline: none;
    margin-bottom: 20px;
}

.button {
    width: 100%;
    background: #0BDA51;
    padding: 10px;outline: none;
    border: 1px solid #0BDA51;
    border-radius: 3px;
    font-family: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.button span{
    padding: 0px 10px;
}


@media screen and (max-width: 768px) {
    .app {
        width: 100%;
    }
}